/*==========  Desktops First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1270px) {
  html {
    font-size: 12px;
  }
  
  .content__items{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  html {
    font-size: 11px;
  }
  
  .content__items{
    grid-template-columns: 1fr 1fr;
  }
  
  .pizza-block {
    margin-bottom: 35px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  html {
    font-size: 10px;
  }
  
  body {
    padding: 20px 0;
  }
  
  .button {
    padding: 0.8rem 1.5rem;
  
    span {
      font-size: 1.5rem;
      font-weight: 100;
    }
  }
  
  .wrapper {
    width: calc(100% - 40px);
  }
  
  .content {
    padding: 15px 0;
    
    &__items {
      grid-template-columns: 1fr;
    }
    
    &__top {
      flex-direction: column;
    }
  }
  
  .container {
    &--cart {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  
  .cart {
    &__top {
      flex-direction: column;
      
      .content__title {
        margin-bottom: 15px;
      }
    }
    
    &--empty {
      img {
        margin: 2rem auto;
      }
    }
    
    &__item {
      flex-direction: column;
      position: relative;
      
      &-img {
        width: 100%;
        justify-content: center;
        order: 1;
        
        img {
          width: 60%;
          height: auto;
        }
        
      }
      
      .button {
        padding: 0;
      }
      
      &-info {
        width: 100%;
        order: 2;
        
        h3 {
          margin-bottom: 8px;
          margin-top: 15px;
          font-size: 32px;
        }
        
        p {
          font-size: 22px;
        }
      }
      
      &-count {
        width: 130px;
        margin: 10px 0;
        order: 4;
        
        .button {
          width: 40px;
          height: 40px;
          
          svg {
            width: 14px;
            height: 14px;
          }
        }
        
        b {
          font-size: 26px;
        }
      }
      
      &-price {
        align-items: flex-start;
        justify-content: flex-start;
        width: auto;
        margin: 10px 0;
        order: 3;
        
        b {
          font-size: 26px;
        }
      }
      
      &-remove {
        position: absolute;
        right: 0;
        width: auto;
        
        button {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  
  .categories {
    max-width: 100%;
    margin-bottom: 30px;
    
    ul {
      li {
        padding: 0.8rem 1.7rem;
        font-size: 1.6rem;
        font-weight: 100;
      }
    }
  }
  
  .header {
    padding: 15px 0;
    
    .container {
      flex-direction: column;
      
      &__cart {
        margin-top: 30px;
      }
    }
  }
  
  .pizza-block {
    &:not(:last-of-type) {
      margin-bottom: 25px;
      padding-bottom: 45px;
      border-bottom: 1px solid #efefef;
    }
    
    &__price {
      font-size: 2.5rem;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  html {
    font-size: 9px;
  }
  
  .pizza-block {
    margin: 5px auto !important;
    padding-bottom: 15px !important;
  
    &__title {
      margin-bottom: 10px;
      font-size: 2.2rem;
    }
  }
  
  .cart {
    .content__title {
      font-size: 2.6rem;
    }
  
    &__item {
      text-align: center;
      
      h3 {
        font-size: 3rem;
        margin: 5px auto;
      }
      
      p {
        font-size: 2.3rem;
      }
      
      &-price {
        display: inline-block;
        
        b {
          font-size: 2.5rem;
        }
      }
      
      &-count {
        width: 100px;
        margin: 0 auto;
      }
      
      .button {
        width: 30px;
        height: 32px;
      }
  
      
    }
    
    &__bottom {
      &-buttons {
        flex-direction: column;
        
        .button {
          width: 100%;
          height: 54px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  html {
    font-size: 8px;
  }
}
