@font-face {
  font-family: "Proxima Nova";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/ProximaNova-Regular/ProximaNova-Regular.eot");
  src: url("./assets/fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"), url("./assets/fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Proxima Nova";
  font-weight: 900;
  font-style: normal;
  src: url("./assets/fonts/ProximaNova-Black/ProximaNova-Black.eot");
  src: url("./assets/fonts/ProximaNova-Black/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ProximaNova-Black/ProximaNova-Black.woff") format("woff"), url("./assets/fonts/ProximaNova-Black/ProximaNova-Black.ttf") format("truetype"); }

@font-face {
  font-family: "Proxima Nova";
  font-weight: 800;
  font-style: normal;
  src: url("./assets/fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.eot");
  src: url("./assets/fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.woff") format("woff"), url("./assets/fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.ttf") format("truetype"); }

@font-face {
  font-family: "Proxima Nova";
  font-weight: "bold";
  font-style: normal;
  src: url("./assets/fonts/ProximaNova-Bold/ProximaNova-Bold.eot");
  src: url("./assets/fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"), url("./assets/fonts/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype"); }

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Proxima Nova', Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #232323; }

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #232323; }

h1 {
  font-size: 48px; }

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px; }

a {
  text-decoration: none; }

.header {
  padding: 40px 0;
  border-bottom: 1px solid #f6f6f6; }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__cart {
    margin: 10px; }
  .header__logo {
    display: flex; }
    .header__logo img {
      margin-right: 15px; }
    .header__logo h1 {
      font-size: 24px;
      font-weight: 800;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #181818; }
    .header__logo p {
      color: #7b7b7b; }

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fe5f1e;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  border: 1px solid transparent;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */ }
  .button,
  .button span {
    color: #fff; }
  .button i,
  .button span,
  .button path,
  .button svg {
    transition: all 0.15s ease-in-out; }
  .button:hover {
    background-color: #f24701; }
  .button:active {
    background-color: #de4101;
    transform: translateY(1px); }
  .button--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    padding: 0;
    border-width: 2px; }
  .button--black {
    background-color: #232323; }
    .button--black:hover, .button--black:active {
      background-color: #3d3d3d; }
  .button--outline {
    background-color: #fff;
    border-color: #fe5f1e; }
    .button--outline,
    .button--outline span {
      color: #fe5f1e; }
    .button--outline svg path {
      fill: #fe5f1e; }
    .button--outline:hover {
      background-color: #fe5f1e; }
      .button--outline:hover,
      .button--outline:hover span {
        color: #fff; }
      .button--outline:hover svg path {
        fill: #fff; }
    .button--outline:active {
      background-color: #f24701; }
  .button__delimiter {
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 14px;
    margin-right: 14px; }
  .button--add svg {
    margin-right: 2px; }
  .button--add span {
    font-weight: 600;
    font-size: 16px; }
  .button--add:hover i {
    background-color: #fff;
    color: #fe5f1e; }
  .button--add i {
    display: inline-block;
    border-radius: 30px;
    background-color: #fe5f1e;
    color: #fff;
    font-weight: 600;
    width: 22px;
    height: 22px;
    font-style: normal;
    font-size: 13px;
    line-height: 22px;
    position: relative;
    top: -1px;
    left: 3px; }
  .button--cart {
    display: flex;
    align-items: center;
    line-height: 23px;
    padding: 12px 25px; }
    .button--cart svg {
      margin-right: 8px;
      margin-bottom: 1px; }
    .button--cart span {
      font-weight: 600;
      font-size: 16px; }

.categories {
  flex: 1;
  max-width: 80%;
  overflow: auto; }
  .categories ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden; }
    .categories ul li {
      display: inline-block;
      padding: 13px 30px;
      margin: 5px 2px;
      border-radius: 50px;
      font-weight: bold;
      transition: background-color 0.1s ease-in-out;
      background-color: #f9f9f9;
      cursor: pointer;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Old versions of Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */ }
      .categories ul li:hover {
        background-color: #f4f4f4; }
      .categories ul li:active {
        background-color: #ececec; }
      .categories ul li.active {
        background-color: #282828;
        color: #fff; }

.sort {
  margin-left: 20px;
  position: relative; }
  .sort__label {
    display: flex;
    align-items: center; }
    .sort__label svg {
      margin-right: 8px;
      transform: rotate(180deg); }
      .sort__label svg.rotated {
        transform: rotate(0); }
    .sort__label b {
      margin-right: 8px; }
    .sort__label span {
      border-bottom: 1px dashed #fe5f1e;
      color: #fe5f1e;
      cursor: pointer; }
  .sort__popup {
    position: absolute;
    right: 0;
    width: 160px;
    padding: 10px 0;
    margin-top: 15px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden; }
    .sort__popup ul {
      overflow: hidden; }
      .sort__popup ul li {
        padding: 12px 20px;
        cursor: pointer; }
        .sort__popup ul li.active, .sort__popup ul li:hover {
          background: rgba(254, 95, 30, 0.05); }
        .sort__popup ul li.active {
          font-weight: bold;
          color: #fe5f1e; }

.pizza-block {
  width: 100%;
  margin-bottom: 65px;
  text-align: center; }
  .pizza-block__image {
    display: block;
    max-width: 260px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #f3f3f3;
    border-radius: 30%; }
  .pizza-block__title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px; }
  .pizza-block__selector {
    display: flex;
    flex-direction: column;
    padding: 6px;
    border-radius: 10px;
    background-color: #f3f3f3; }
    .pizza-block__selector ul {
      display: flex;
      flex: 1; }
      .pizza-block__selector ul:first-of-type {
        margin-bottom: 6px; }
      .pizza-block__selector ul li {
        flex: 1;
        padding: 8px;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */ }
        .pizza-block__selector ul li.active {
          background: #fff;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto; }
        .pizza-block__selector ul li.disabled {
          opacity: .4;
          pointer-events: none; }
  .pizza-block__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px; }
  .pizza-block__price {
    margin-right: 5px;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: .015em;
    white-space: nowrap; }

.error {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin: 5%;
  padding: 5%;
  text-align: center;
  border-radius: 10%;
  background-color: #fff; }
  .error--header {
    font-size: 2rem;
    color: #fe5f1e; }
  .error--image {
    display: inline-block;
    width: 80%; }
  .error--message {
    font-size: 1.8rem;
    color: #fe5f1e; }

.form-order {
  position: fixed;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  border: 2px solid #ffdf8c;
  border-radius: 5%;
  background-color: #fff;
  z-index: 5; }
  .form-order__hide {
    display: none; }
  .form-order--close {
    position: absolute;
    top: -5px;
    right: 12px;
    font-size: 4.2rem;
    cursor: pointer;
    color: #fe5f1e; }
  .form-order--form {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 1rem; }
  .form-order--label {
    display: inline-block;
    padding-top: 3rem;
    padding-bottom: .5rem;
    text-align: center;
    text-transform: uppercase; }
  .form-order--input {
    display: inline-block;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 1rem;
    font-size: 2rem;
    background: #fff;
    color: #666;
    border: 1px solid #e5e5e5;
    transition: .2s ease-in-out;
    transition-property: color, background-color, border; }
  .form-order--error {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fe5f1e; }
  .form-order--btn-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem; }
  .form-order--primary {
    background-color: #1e87f0; }
    .form-order--primary:hover {
      background-color: #0f7ae5;
      color: #fff; }

.fundo {
  animation: scales 3s alternate  infinite;
  transform-origin: center; }

.pao-baixo {
  animation: rotatepao 14s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
  transform-origin: center; }

.pao-cima {
  animation: rotatepao 7s 1s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
  transform-origin: center; }

.olhos {
  animation: olhos 2s alternate infinite;
  transform-origin: center; }

.left-sparks {
  animation: left-sparks 4s alternate infinite;
  transform-origin: 150px 156px; }

.right-sparks {
  animation: left-sparks 4s alternate infinite;
  transform-origin: 310px 150px; }

.olhos {
  animation: olhos 2s  alternate  infinite;
  transform-origin: center; }

@keyframes scales {
  from {
    transform: scale(0.98); }
  to {
    transform: scale(1); } }

@keyframes rotatepao {
  0% {
    transform: rotate(0deg); }
  50%, 60% {
    transform: rotate(-20deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes olhos {
  0% {
    transform: rotateX(0deg); }
  100% {
    transform: rotateX(30deg); } }

@keyframes left-sparks {
  0% {
    opacity: 0; } }

.main {
  min-height: 600px;
  margin: 0 auto;
  width: auto;
  max-width: 460px;
  display: flex;
  align-items: center;
  justify-content: center; }

.path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: dash 4s alternate infinite; }

@keyframes dash {
  0%, 30% {
    fill: #4b4b62;
    stroke-dashoffset: 0; }
  80%, 100% {
    fill: transparent;
    stroke-dashoffset: -200; } }

html,
body {
  height: 100%;
  font-size: 16px; }

body {
  padding: 50px 0;
  background-color: #ffdf8c; }

.wrapper {
  width: calc(100vw - 100px);
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff; }

.content {
  padding: 40px 0; }
  .content__title {
    margin: 35px 0;
    font-size: 2.8rem; }
  .content__items {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3vw; }
  .content__top {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.container {
  width: 90%;
  margin: 0 auto; }
  .container--cart {
    max-width: 820px;
    margin: 30px auto; }
    .container--cart .content__title {
      margin: 0; }
    .container--cart .content__items {
      grid-template-columns: 1fr; }

.cart__top {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.cart .content__title {
  display: flex;
  align-items: center;
  font-size: 32px; }
  .cart .content__title svg {
    position: relative;
    top: -2px;
    width: 30px;
    height: 30px;
    margin-right: 10px; }
    .cart .content__title svg path {
      stroke: #232323;
      stroke-width: 1.9; }

.cart__clear {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */ }
  .cart__clear span {
    display: inline-block;
    margin-left: 7px;
    font-size: 18px;
    color: #b6b6b6; }
  .cart__clear span,
  .cart__clear svg,
  .cart__clear path {
    transition: all 0.15s ease-in-out; }
  .cart__clear:hover svg path {
    stroke: #373737; }
  .cart__clear:hover span {
    color: #373737; }

.cart__item {
  display: flex;
  width: 100%;
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #f6f6f6; }
  .cart__item-img {
    display: flex;
    width: 10%;
    margin-right: 15px;
    align-items: center; }
    .cart__item-img img {
      width: 80px;
      height: 80px; }
  .cart__item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%; }
    .cart__item-info h3 {
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.01em; }
    .cart__item-info p {
      font-size: 18px;
      color: #8d8d8d; }
  .cart__item-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13%; }
    .cart__item-count b {
      font-size: 22px; }
    .cart__item-count-minus svg path:first-of-type {
      display: none; }
  .cart__item-price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%; }
    .cart__item-price b {
      font-weight: bold;
      font-size: 22px;
      letter-spacing: 0.01em; }
  .cart__item-remove {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 4%; }
    .cart__item-remove .button {
      border-color: #dddddd; }
    .cart__item-remove svg {
      transform: rotate(45deg); }
      .cart__item-remove svg path {
        fill: #d0d0d0; }
    .cart__item-remove .button svg {
      width: 11.5px;
      height: 11.5px;
      position: relative; }
    .cart__item-remove .button:hover, .cart__item-remove .button:active {
      border-color: #2a2a2a;
      background-color: #2a2a2a; }

.cart__bottom {
  margin: 50px 0; }
  .cart__bottom-details {
    display: flex;
    justify-content: space-between; }
    .cart__bottom-details span {
      font-size: 22px; }
      .cart__bottom-details span:last-of-type b {
        color: #fe5f1e; }
  .cart__bottom-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px; }
    .cart__bottom-buttons .go-back-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 210px;
      border-color: #dddddd; }
      .cart__bottom-buttons .go-back-btn span {
        font-weight: 600;
        color: #c3c3c3; }
      .cart__bottom-buttons .go-back-btn:hover {
        background-color: #111111;
        border-color: #111111; }
        .cart__bottom-buttons .go-back-btn:hover span {
          color: #f6f6f6; }
      .cart__bottom-buttons .go-back-btn svg {
        margin-right: 12px; }
        .cart__bottom-buttons .go-back-btn svg path {
          fill: transparent;
          stroke-width: 2; }
    .cart__bottom-buttons .pay-btn {
      display: inline-block;
      width: 210px;
      padding: 16px;
      font-size: 16px;
      font-weight: 600; }

.cart--empty {
  margin: 0 auto;
  max-width: 560px;
  width: 100%;
  text-align: center; }
  .cart--empty h2 {
    font-size: 3rem;
    margin-bottom: 10px; }
  .cart--empty p {
    font-size: 18px;
    line-height: 145.4%;
    letter-spacing: 0.01em;
    color: #777; }
  .cart--empty i {
    font-style: normal;
    position: relative;
    top: 2px; }
  .cart--empty img {
    display: block;
    max-width: 300px;
    width: 100%;
    height: auto;
    margin: 45px auto 60px; }
  .cart--empty .button--black {
    width: 230px;
    margin: 0 auto;
    padding: 12px 0 14px;
    font-weight: 600;
    font-size: 18px; }

/*==========  Desktops First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1270px) {
  html {
    font-size: 12px; }
  .content__items {
    grid-template-columns: 1fr 1fr 1fr; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  html {
    font-size: 11px; }
  .content__items {
    grid-template-columns: 1fr 1fr; }
  .pizza-block {
    margin-bottom: 35px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  html {
    font-size: 10px; }
  body {
    padding: 20px 0; }
  .button {
    padding: 0.8rem 1.5rem; }
    .button span {
      font-size: 1.5rem;
      font-weight: 100; }
  .wrapper {
    width: calc(100% - 40px); }
  .content {
    padding: 15px 0; }
    .content__items {
      grid-template-columns: 1fr; }
    .content__top {
      flex-direction: column; }
  .container--cart {
    margin-top: 0;
    margin-bottom: 0; }
  .cart__top {
    flex-direction: column; }
    .cart__top .content__title {
      margin-bottom: 15px; }
  .cart--empty img {
    margin: 2rem auto; }
  .cart__item {
    flex-direction: column;
    position: relative; }
    .cart__item-img {
      width: 100%;
      justify-content: center;
      order: 1; }
      .cart__item-img img {
        width: 60%;
        height: auto; }
    .cart__item .button {
      padding: 0; }
    .cart__item-info {
      width: 100%;
      order: 2; }
      .cart__item-info h3 {
        margin-bottom: 8px;
        margin-top: 15px;
        font-size: 32px; }
      .cart__item-info p {
        font-size: 22px; }
    .cart__item-count {
      width: 130px;
      margin: 10px 0;
      order: 4; }
      .cart__item-count .button {
        width: 40px;
        height: 40px; }
        .cart__item-count .button svg {
          width: 14px;
          height: 14px; }
      .cart__item-count b {
        font-size: 26px; }
    .cart__item-price {
      align-items: flex-start;
      justify-content: flex-start;
      width: auto;
      margin: 10px 0;
      order: 3; }
      .cart__item-price b {
        font-size: 26px; }
    .cart__item-remove {
      position: absolute;
      right: 0;
      width: auto; }
      .cart__item-remove button {
        width: 40px;
        height: 40px; }
  .categories {
    max-width: 100%;
    margin-bottom: 30px; }
    .categories ul li {
      padding: 0.8rem 1.7rem;
      font-size: 1.6rem;
      font-weight: 100; }
  .header {
    padding: 15px 0; }
    .header .container {
      flex-direction: column; }
      .header .container__cart {
        margin-top: 30px; }
  .pizza-block:not(:last-of-type) {
    margin-bottom: 25px;
    padding-bottom: 45px;
    border-bottom: 1px solid #efefef; }
  .pizza-block__price {
    font-size: 2.5rem; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  html {
    font-size: 9px; }
  .pizza-block {
    margin: 5px auto !important;
    padding-bottom: 15px !important; }
    .pizza-block__title {
      margin-bottom: 10px;
      font-size: 2.2rem; }
  .cart .content__title {
    font-size: 2.6rem; }
  .cart__item {
    text-align: center; }
    .cart__item h3 {
      font-size: 3rem;
      margin: 5px auto; }
    .cart__item p {
      font-size: 2.3rem; }
    .cart__item-price {
      display: inline-block; }
      .cart__item-price b {
        font-size: 2.5rem; }
    .cart__item-count {
      width: 100px;
      margin: 0 auto; }
    .cart__item .button {
      width: 30px;
      height: 32px; }
  .cart__bottom-buttons {
    flex-direction: column; }
    .cart__bottom-buttons .button {
      width: 100%;
      height: 54px;
      margin-bottom: 20px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  html {
    font-size: 8px; } }
